<div class="container d-flex flex-column align-items-center mb-5">
  <h2 class="text-dark">Confirmed bookings</h2>

  <% @bookings.each do |booking|%>
    <div class="card px-3 py-3 mw-75 text-muted border border-primary mt-2" style="max-width: 500px">
      <div class="d-flex justify-content-between">
        <h2 class="text-dark"> <%= booking.cinema.location %> </h2>
        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani" >
      </div>
      <p class="text-dark"> <%= booking.date %> </p>
      <p> <i class="fas fa-male"> </i> <%= booking.cinema.capacity %> pax </p>
      <p> <i class="fas fa-money-check-alt"></i> $<%= booking.cinema.price %> </p>
      <p> <i class="far fa-window-maximize"></i> <%= booking.cinema.movie_selection %> </p>
      <p> <i class="fas fa-tv"></i> <%= booking.cinema.screen_size %> inch screen </p>
      <h5> <%= booking.cinema.description %> </h5>

      <%= link_to "Cancel", "#", class:"btn btn-outline-danger my-2" %>
      </div>
    <% end %>
</div>






