<% images = ["cinema_pics/1.jpg", "cinema_pics/2.jpg", "cinema_pics/3.jpg"] %>
<% 10.times do |index| %>
<% img = "cinema_pics/" + (index+1).to_s + ".webp" %>
<% images << img %>
<% end %>

<div class="row row-cols-3 row-cols-md-3 mt-10">
  <% @cinemas.each_with_index do |cinema, index| %>
  <div class="col mb-4">
    <div class="card h-100 border-primary">
      <%= image_tag images[index], class: "card-img-top", style: "height: 300px"%>
      <div class="card-body ">
        <h6 class="card-title d-inline-block text-truncate" style="width: 100%"><%= cinema.description %></h6>
          <div class="d-flex">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
              <div class="align-middle pl-2 text-info">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            <p class="card-text ml-auto">$<%= cinema.price %>/hr</p>
          </div>
        <%= link_to "View", cinema_path(cinema), class: "btn btn-primary text-white mt-2 w-100" %>
      </div>
    </div>
  </div>
  <% end %>
</div>


