<div class="d-flex justify-content-center mt-5">
  <div class="h-100 d-inline-block border border-primary rounded p-4" style="width: 500px; background-color: white;">
<%= simple_form_for(@cinema, remote: true) do |f| %>
  <%= f.input :location, placeholder: 'Katong'%>
  <%= f.input :capacity, collection: ['1-5 pax', '6-10 pax', '11-15 pax'], as: :radio_buttons, selected: '1-5 pax', placeholder: '5 pax'%>
  <%= f.input :price, label: 'Set hourly rate (S$)', placeholder: '$15' %>
  <%= f.input :movie_selection, placeholder: 'Everything directed by Martin Scorsese' %>
  <%= f.input :description, placeholder: 'Complimentary snacks & Dolby Surround Sound 5.1. ' %>
  <%= f.input :screen_size, label: "Screen Size (inches)", placeholder: '60 inch', value: 60 %>
  <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit, "Create cave", :class => "btn-primary text-white" %>
<% end %>
</div>
</div>
