<% images = ["cinema_pics/1.jpg", "cinema_pics/2.jpg", "cinema_pics/3.jpg"] %>
<% 9.times do |index| %>
<% img = "cinema_pics/" + (index+1).to_s + ".webp" %>
<% images << img %>
<% end %>

<div class="container mt-5">
  <div class="row row-cols-2 px-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag images.sample, class: "", style: "height: 400px"%>
        </div>
        <div class="carousel-item">
          <%= image_tag images.sample, class: "", style: "height: 400px"%>
        </div>
        <div class="carousel-item">
          <%= image_tag images.sample, class: "", style: "height: 400px"%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="card px-3 py-3 mw-75 text-muted border border-primary" style="max-width: 500px">
      <h2 class="text-dark"> <%= @cinema.location %> </h2>
      <p> <i class="fas fa-male"> </i> <%= @cinema.capacity %> pax </p>
      <p> <i class="fas fa-money-check-alt"></i> $<%= @cinema.price %> </p>
      <p> <i class="far fa-window-maximize"></i> <%= @cinema.movie_selection %> </p>
      <p> <i class="fas fa-tv"></i> <%= @cinema.screen_size %> inch screen </p>
      <h5> <%= @cinema.description %> </h5>

      <%= link_to "Book", "#", class:"btn btn-primary my-2 text-white" %>
      <%= link_to "Back", cinemas_path, class:"btn btn-outline-secondary text-whi" %>
    </div>
  </div>
</div>
