<% images = ["cinema_pics/1.jpg", "cinema_pics/2.jpg", "cinema_pics/3.jpg"] %>
<% 9.times do |index| %>
<% img = "cinema_pics/" + (index+1).to_s + ".webp" %>
<% images << img %>
<% end %>

<div class="container mt-5 mb-5">
  <div class="row row-cols-2 px-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag images.sample, class: "", style: "height: 500px"%>
        </div>
        <div class="carousel-item">
          <%= image_tag images.sample, class: "", style: "height: 500px"%>
        </div>
        <div class="carousel-item">
          <%= image_tag images.sample, class: "", style: "height: 500px"%>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="card px-4 py-4 mw-75 text-muted border border-primary mh-100" style="max-width: 500px">
      <div class="d-flex flex-column justify-content-between h-100">

        <div class="details-top d-flex justify-content-between">
          <h2 class="text-dark align-self-center"> <%= @cinema.location %> </h2>
          <div class="text-center">
            <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani">
            <p>Owner</p>
          </div>
        </div>

        <div class="details-middle">
          <h5 class="pb-2"> <%= @cinema.description %> </h5>
          <ul class="list-unstyled">
            <li> <i class="fas fa-male fa-fw"> </i> <%= @cinema.capacity %> pax </li>
            <li> <i class="fas fa-money-check-alt fa-fw"></i> $<%= @cinema.price %> </li>
            <li> <i class="far fa-window-maximize fa-fw"></i> <%= @cinema.movie_selection %> </li>
            <li> <i class="fas fa-tv fa-fw"></i> <%= @cinema.screen_size %> inch screen </li>
          </ul>
        </div>

        <div class="details-bottom">
          <%= link_to "Book", new_cinema_booking_path(@cinema), class:"btn btn-primary my-2 text-white w-100" %>
          <%= link_to "Back", cinemas_path, class:"btn btn-outline-secondary w-100" %>
        </div>

      </div>
    </div>
  </div>
</div>
